:root {
    --base-color : rgb(30, 68, 55);
    --inner : rgb(250, 250, 244);
    --outer: rgba(182, 199, 184, 0.842);
}

* {
    margin: 0 0;
    box-sizing: border-box;
}

header {
    margin: auto;
    width: 25%;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: var(--base-color);
}

.container {
    margin: 10px;
    padding: 10px;

    background-color: var(--outer);
    border-radius: 2px;

    min-width: 300px;
    min-height: 100px;
    
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.container::-webkit-scrollbar {
    width: 5px;
}

.container::-webkit-scrollbar-track-piece {
    background-color: transparent;
}

.container::-webkit-scrollbar-thumb {
    background-color: #666666;
    border-radius: 2px;
}

div.element {
    display: inline;
    margin: 5px 0;

    min-height: 30px;
    border-radius: 6px;
    height: 50px;
    width: 100%;
    background-color: var(--inner);

    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: 300;
    color: var(--base-color);

    padding: 5px;
}


.user-entry
{

}

.status-indicator
{

}

.on
{

}

.off
{

}

.msg-entry
{
    
}


/* .switch {
    position: fixed;
    bottom: 0px;
    background-color: var(--base-color);
    width: 100vw;
    height: 10vh;
    margin-bottom: 0;

    display: flex;
    place-content: space-around;
} */

/* .switch button {
    border-radius: 10px;
    width: 30vw;
    height: 50px;

    background-color: var(--outer);
    margin: auto;
} */


.row {
    display: flex;
    flex-direction: row;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.col {
    display: flex;
    flex-direction: column;

    height: 100vh;
}

aside#users, aside#rooms {
    height: 100vh;
}

.your_msg {
    
    text-align: right;
}

