<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel='stylesheet' href= "{{ url_for('static', filename='style.css') }}">

<!-- jquery for Arthur -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>

<script>

</script>

<header> LINKECH </header>



<div class="container" id="chat">
    <div class="element"> Important message </div>
    <div class="element your_msg"> Next message </div>
    
</div>

<aside class="container" id="users">
    
</aside>

<nav class="switch" id="dash">
    <button id="chat_btn"> chat </button>
    <button id="room_btn"> room </button>
    <button id="users_btn"> users </button>
</nav>

</body>
</html>